.page {
    max-width: 1337px;
    border: 1px solid royalblue;
    margin: 50px auto 0;
    font-family: 'Inter';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
.header {
    width: 80%;
    border: 1px solid royalblue;
    margin: 0 auto;
}
.header__links {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-links__item {
    
}
.list-links__link {
    text-decoration: none;
    color: black;
    margin-right: 30px;
}